color_orange = #FA802A

:local(.container)
	width 20%
	border-right 1px rgba(#000, 0.2) solid
	display flex
	flex-direction column
	align-items center
	justify-content space-around
	

	.view-links-container
	    position relative
		width 100%
		margin-left 18%
	    padding-top 20px

	.list-unstyled
		padding-bottom 20px
		border-bottom 2px rgba(#000, 0.12) solid


li { cursor: pointer; font-family: museo500; font-size 1.2em; color #4b4b4b; margin-bottom 12px}

li.selected { color: color_orange;}


	.progress-container
		position relative
		width 40%
		margin 10px auto
		text-align center
		.progress-label
			margin-top 1%
			font-family museo300
		.progress-perc
			absolute top 50% left 50%
			color #4b4b4b
			// background-color rgba(#000, 0.12)
			width 50px
			height 50px
			margin-left -0.5*@width
			margin-top  -0.6*@height
			font-size 2em
			&:after
				absolute top 5px right -6px
				content '%'
				font-size 16px
		