:local(.container)
  display flex
  flex-direction row-reverse
  width 100%
  height 100%

  .video-section
    margin 24px
    flex 2
    display flex
    flex-direction column
  .details-section
    flex 1
    margin 24px
    flex-shrink 0
    display flex
    flex-direction column
    //border-left 1px rgba(#000, 0.12) solid

  .video-wrapper {
    background: white;
    position: relative;
    padding-bottom: 50%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  .video-wrapper > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .video-js .vjs-progress-holder .vjs-play-progress,
  .video-js .vjs-progress-holder .vjs-load-progress,
  .video-js .vjs-progress-holder .vjs-tooltip-progress-bar,
  .video-js .vjs-progress-holder .vjs-load-progress div {
    height: 0.3em;}

.video-title
  font-size 2.4em
  margin-top 4vh
  margin-bottom 4vh

.video-section .process-list
  display flex
  width 100%

  .process-item
    flex 1
    background-color #D7D7D7
    padding 18px 30px
    font-size 1em
    text-align center
    border-radius 8px
    margin 0 4px
    cursor pointer
    &:hover
      background-color darken(@background-color, 10%)

:local(.container)
  .video-details-container
    flex 1
    display flex
    flex-direction column

  .comments-section, .tabbed-section
    min-height 100px
    background-color #fff
    border 1px rgba(#000, 0.12) solid
    box-shadow 0 4px 24px 0 rgba(#000, 0.12)
  .comments-section
    height 180px
    overflow hidden

  .flex-vertical
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;

  .flex-fill
    flex 1

  .tabbed-section
    flex 1
    margin-bottom 20px
    display flex
    flex-direction column
    .tab-content
      flex 1

  .table-footer, .comments-footer
    clearfix()
    text-align right
    padding 10px
    border-top 1px rgba(#000, 0.2) solid

  #comments-input
    flex 1
    border none
    padding 20px
    outline none

  .flags-table
    display flex
    flex-flow column
    overflow hidden
    flex 1

  .red-box
    width 16px
    height 16px
    margin 3px 5px
    background-color red
    margin: auto


  tbody
    height 300px
    overflow-y scroll
    overflow-x hidden


  thead
    display block
    flex-shrink 0
    margin-right: 1.075em;


  tr
    display flex
    width 100%

  th,
  td
    min-width 25px
    display flex

  th~th,
  td~td
    flex 1 1 22%
    word-wrap break-word

  .timeStamp
    display inline-block
    padding-right  10px

  .timeStamp1
    display inline-block
    padding-right 10px
