// Keep these same as bootstrap cutoffs
rupture.mobile-cutoff = 480px
rupture.desktop-cutoff = 768px


// Brand colors



theme_bg     = #f7f7f7
theme_base   = color_grey200
theme_accent = color_lime500
theme_is_light = (luminosity(theme_base)) > (0.36)
theme_text = theme_is_light ? #444 : #ddd
theme_widget = theme_is_light ? #fff : #323232


// Paddings
gutter_x = 24px
gutter_y = 28px

// Fonts
museo300 = 'museo_sans300'
museo500 = 'museo_sans500'
museo700 = 'museo_sans700'
montserrat = 'montserratregular'


// Icons
icon_color = rgba(#000, 0.6)
icon_color_hover  = rgba(#000, 0.8)
icon_color_active = rgba(#fff, 0.8)