@font-face
	font-family 'museo_sans700'
	src url('/public/fonts/museosans_0-webfont.woff2') format('woff2'),
		url('/public/fonts/museosans_0-webfont.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'museo_sans300'
	src url('/public/fonts/museosans-300-webfont.woff2') format('woff2'),
		url('/public/fonts/museosans-300-webfont.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'museo_sans500'
	src url('/public/fonts/museosans-webfont.woff2') format('woff2'),
		url('/public/fonts/museosans-webfont.woff') format('woff')
	font-weight normal
	font-style normal
	
@font-face
	font-family 'montserratregular'
	src url('/public/fonts/montserrat-regular-webfont.woff2') format('woff2'),
		url('/public/fonts/montserrat-regular-webfont.woff') format('woff')
	font-weight normal
	font-style normal