

.login-page {
    position: absolute;
    width: 460px;
    padding: 8% 0 0;
    left: 50%;
    margin-left: -230px;
    top:20%;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 100%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    color: black;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    border: 2px solid lightgrey;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {

    text-transform: uppercase;
    outline: 0;
    background: #fe8012;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #fe8012;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #293C8E;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {

}
.LoginPage{
    position: absolute;
    background-color: white;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.Logo_Tessact_White{
    position: absolute;
    top: 30px;
    height: 100px;
    width: 150px;
    margin-left: -75px;
    left: 50%;
}

.username-container{
    display: flex;
    align-items:center;
}
.username-text{
    flex: 1;
}

.password-container{
    display: flex;
    align-items:center;
}
.username{
    flex:2;
}

.password-text{
    flex: 1;
    align-self: center;
}

.password{
    flex: 2;
}

.img-logo-colored{
    position: absolute;
    height: 70px;
    width:250px;
    left: 50%;
    margin-left: -125px;
    top: 27%;
}

